@import "tailwindcss";
.calendar-wrap {
  max-width: 420px;
  margin: auto;
}

/* загальний календар */
.react-calendar {
  border: none;
  border-radius: 16px;
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* кнопки місяця */
.react-calendar__navigation button {
  background: none;
  font-size: 18px;
}

/* дні */
.react-calendar__tile {
  border-radius: 10px;
  transition: 0.2s;
}

/* hover */
.react-calendar__tile:enabled:hover {
  transform: scale(1.05);
}

/* ЗМІНИ */
.shift-A {
  background: #4da6ff !important;
  color: white;
}

.shift-B {
  background: #4dff88 !important;
  color: white;
}

.shift-C {
  background: #ff4d4d !important;
  color: black;
}

.shift-D {
  background: #ffd24d !important;
  color: black;
}